
/* Some nice fonts */
@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
	font-family: "Pontano Sans";
}

header {
	margin: 1em;
}

h1, h2 {
	background-color: #1A1A1A;
	color: white;
	display: inline-block;
}

}
h1 {
	font-size: 3em;
	padding: 0.3em;
}

h2 {
	font-size: 1.2em;
	padding: 0.6em;
	padding-left: 0.85em;
	border-bottom: 0.2em solid #E61D5F;
}

canvas {
	margin: 1em;
	border: 1px solid lightgrey;
	cursor: pointer;
}

table#keyboard {
	margin: 1em;
}

table#keyboard td {
	padding: 0.6em;
	color: grey;
	border: 1px solid lightgrey;
}

table#keyboard td:hover {
	color: black;
	background-color: #F7E9ED;
	cursor: pointer;
}

table#keyboard td.setup {
	background-color: #E61D5F;
	color: white;
	font-weight: bold;
}

table#keyboard span {
	color: lightgray;
	font-size: 0.9em;
	padding-left: 0.3em;
}

footer {
	margin: 2.5em;
	font-size: 0.9em;
	font-family: "Inconsolata";
	color: grey;
}

footer ul {
	list-style-type: square;
}

footer a {
	color: grey;
	text-decoration: none;
	border-bottom: 1px dashed grey;
}
